In [6]:
import pandas as pd

def lookUp(link):
    return main_df.loc[main_df[0] == link, 0].reset_index().drop('index', 1).sum(0)[0]

main_df = pd.read_csv("city_names.csv", sep=",", header=None)

uniques = main_df[0].unique()

unique_df = pd.DataFrame(uniques)

unique_df["new_count"] = unique_df[0].apply(lookUp)

unique_df
#unique_df = unique_df.sort_values("new_count", ascending=False)

#unique_df.to_csv("new_count.csv", header=0)

                      0                                          new_count
0                   Ath                                                Ath
1                Aachen                                             Aachen
2               Aalborg                                     AalborgAalborg
3            Abbotsford                                         Abbotsford
4              Aberdare                                           Aberdare
5              Aberdeen  AberdeenAberdeenAberdeenAberdeenAberdeenAberde...
6              Abingdon                                           Abingdon
7              Abington                                           Abington
8                 Accra                                         AccraAccra
9               Addison                                            Addison
10             Adelaide                   AdelaideAdelaideAdelaideAdelaide
11                 Agen                                               Agen
12         Agoura Hills                           Agoura HillsAgoura Hills
13                Aiken           AikenAikenAikenAikenAikenAikenAikenAiken
14                 Ajax                                           AjaxAjax
15                Akita                                              Akita
16                Akron                          AkronAkronAkronAkronAkron
17               Albany  AlbanyAlbanyAlbanyAlbanyAlbanyAlbanyAlbanyAlba...
18           Albert Lea                                         Albert Lea
19          Albuquerque  AlbuquerqueAlbuquerqueAlbuquerqueAlbuquerqueAl...
20                Aldan                          AldanAldanAldanAldanAldan
21           Alexandria  AlexandriaAlexandriaAlexandriaAlexandriaAlexan...
22                Allen                                    AllenAllenAllen
23            Allendale                                          Allendale
24            Allentown               AllentownAllentownAllentownAllentown
25             Alliance                                           Alliance
26                Aloha                                         AlohaAloha
27                Along                                         AlongAlong
28           Alpharetta                                         Alpharetta
29    Altamonte Springs                                  Altamonte Springs
...                 ...                                                ...
1608           Winnipeg  WinnipegWinnipegWinnipegWinnipegWinnipegWinnip...
1609             Winona                                             Winona
1610      Winston-Salem  Winston-SalemWinston-SalemWinston-SalemWinston...
1611      Winter Garden                                      Winter Garden
1612       Winter Haven                           Winter HavenWinter Haven
1613        Winter Park  Winter ParkWinter ParkWinter ParkWinter ParkWi...
1614     Winter Springs                       Winter SpringsWinter Springs
1615             Woburn         WoburnWoburnWoburnWoburnWoburnWoburnWoburn
1616             Woking                                       WokingWoking
1617         Woodbridge                                         Woodbridge
1618           Woodburn                                           Woodburn
1619           Woodbury                                   WoodburyWoodbury
1620     Woodland Hills                       Woodland HillsWoodland Hills
1621          Woodstock                                 WoodstockWoodstock
1622         Woonsocket                               WoonsocketWoonsocket
1623          Worcester  WorcesterWorcesterWorcesterWorcesterWorcesterW...
1624          Wyandotte               WyandotteWyandotteWyandotteWyandotte
1625              Wylie                                              Wylie
1626            Wyoming  WyomingWyomingWyomingWyomingWyomingWyomingWyom...
1627             Yalova                                       YalovaYalova
1628           Yellandu                                           Yellandu
1629            Yonkers  YonkersYonkersYonkersYonkersYonkersYonkersYonk...
1630        Yorba Linda                                        Yorba Linda
1631               York                           YorkYorkYorkYorkYorkYork
1632         Youngstown                     YoungstownYoungstownYoungstown
1633          Ypsilanti                        YpsilantiYpsilantiYpsilanti
1634          Yuba City                        Yuba CityYuba CityYuba City
1635         Zanesville                               ZanesvilleZanesville
1636           Zaragoza                                   ZaragozaZaragoza
1637              Zarya                                              Zarya

[1638 rows x 2 columns]